@model HospitalManagementSystem.Models.Patient

@{
    ViewData["Title"] = "Update Patient Details";
}

<form method="post" asp-controller="Admin" asp-action="Patient">
    <div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PatientID"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PatientID" class="form-control" readonly />
                        <span asp-validation-for="PatientID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PatientName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PatientName" class="form-control" readonly />
                        <span asp-validation-for="PatientName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PatientStatus"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PatientStatus" class="form-control"/>
                        <span asp-validation-for="PatientStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PatientProb"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PatientProb" class="form-control" readonly />
                        <span asp-validation-for="PatientProb" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    @*<div class="col-6 offset-4 row">*@
                    <div class="col-4 offset-4">
                        <input type="submit" class="btn btn-info w-100" value="Update" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

