@model IEnumerable<HospitalManagementSystem.Models.HealthDepartment>
@{
    ViewData["Title"] = "GetAllHealthDepartment";
}

<h1>GetAllHealthDepartment</h1>

<div>
    <h2 class="text-primary">Department List</h2>
</div>

<div class="container p-3">
    
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        DepartmentID
                    </th>
                    <th>
                        DepartmentName
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model)
                {
                    <tr>
                        <td>@detail.DeptId</td>
                        <td>@detail.DeptName</td>
                        

                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Admin" asp-route-Id="@detail.DeptId" asp-action="EditHealthDepartment" class="btn btn-primary mx-1">
                                    Edit<i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
</div>

