@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-4">Hospital Management System</h1>
    <h3 class="lead">Most valuable thing is your health.</h3>

    <hr class="my-4">
    <p>We care about your health Even the all Powerfull pointing has no control about the blind text it is an almost unorthographic life</p>
    <p></p>
</div>



<div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">List of all patients</h5>
        <p class="card-text">To get the list (only Admin has the access), please click the button</p>
        <a id="myAdminButton" class="btn btn-outline-danger">Patients List</a>
    </div>
    <script type="text/javascript">
        document.getElementById("myAdminButton").onclick = function () {
            location.href = "https://hmsvalidatelogin.azurewebsites.net/api/validatelogin?Users=Admin";
        };
    </script>
    <div class="card-footer text-muted">

    </div>
</div>
<br />
<div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">Add Patient Details</h5>
        <p class="card-text">To add details related to the patient, please click the button</p>
        <a id="myPatientButton" class="btn btn-outline-danger">Add Patient</a>
    </div>
    <script type="text/javascript">
        document.getElementById("myPatientButton").onclick = function () {
            location.href = "https://hmsvalidatelogin.azurewebsites.net/api/validatelogin?Users=Patient";
        };
    </script>
    <div class="card-footer text-muted">

    </div>
</div>
<br />
<div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">List of health departments</h5>
        <p class="card-text">To get the department name, please click the button</p>
        <a class="btn btn-outline-danger" asp-controller="Admin" asp-action="GetAllHealthDepartment">Department List</a>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>

<br />
<br />